@model IEnumerable<CCWordBoard.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionText)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionText)
                <fieldset>
                    <ul>
                        @foreach (var answer in item.Answers)
                {
                        <li>
                            <label>
                                <input type="checkbox" name="frage" value="@Html.DisplayFor(modelAnswerItem => answer)">
                                @Html.DisplayFor(modelAnswerItem => answer)
                            </label>
                            
                        </li>
                        }
                    </ul>
                </fieldset>
            </td>            
        </tr>
}
    </tbody>
</table>
