@{
    ViewData["Title"] = "Quiz";
}

<div class="row">
    <div class="col-md-3">
        <h2>Start here</h2>
        <ul>
            <li>Debug Quiz Start ..</li>
        </ul>
    </div>    
</div>